
.div0{
  
margin-right: auto;
margin-left: auto;
height: 100px;
background-color:white ;
position: relative;
border: 2px solid black;


}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.div0>nav{

background: white;
height: 80px;
width: 100%;

}
.div0>label.logo{
color: white;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;

}
.div0>nav ul{
float: right;
margin-right: 20px;
}

.div0>nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 10px;
  text-decoration: uppercase;
}

a:hover{
  background: lightblue;
  transition: .2s;
}
.checkbtn{
  font-size: 30px;
  color: orange;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
display: none;
}
#check{
  display: none;
}


@media (min-width: 952px){
.div0>nav ul li a{
 display: none;

}
}
@media (max-width: 858px){
  .checkbtn{
    display:block;
    color: green;
  }
  .div0>nav ul{
    
    margin-top: 18px;
    width: 800px;

    

  }
.div0>nav ul li{
    display: block;
    height: 30px;
    border-top: solid 2px black;
    color: blue;
    text-align: center;
    background-color: grey;
    position: relative;
  }
  .checkbtn:hover +.div0>nav ul{
    
   
    

  }
  .checkbtn:hover +.div0>nav ul li{
    display: block;
    
  }
  

  #check:checked ~ ul{
    left: 0;
  }
}

h3{
  margin-left: 40px;
font-size: 30px;
position: absolute;

}

h1 {
	color: #000000;
	text-align: center;
  margin-top: auto;
  position: relative;
}

body {
	
	background-color: lightblue;


}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid black;
	background-color:lightyellow;
	width: 100%;
	height: 200px;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;

}

#chicken {
	
	text-align: center;
	width: 30%;
	margin-left: 35%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	
}

.row {
	width: 100%;
}

/* Desktop view */

@media (min-width: 992px) {
  .col-lg-4, .col-lg-6, .col-lg-12 {
    float:center;
  }

 
  .col-lg-4 {
    width: 100%;
  }
  
  .col-lg-6 {
    width: 100%;
  }
  
  .col-lg-12 {
    width: 200%;
  }

}

/* Tablet view */

@media (min-width: 768px) and (max-width: 991px) {
   .col-md-4, .col-md-6,.col-md-12 {
    float:center;
  }

 
 .col-lg-4 {
    width: 100%;
  }
  
  .col-lg-6 {
    width: 100%;
  }
  
  .col-lg-12 {
    width: 200%;
  }
}

/* Mobile view */

@media (max-width: 768px) {
   .col-sm-4,  .col-sm-6, .col-sm-12 {
 	float: center;
  }

 
 .col-lg-4 {
    width: 100%;
  }
  
  .col-lg-6 {
    width: 100%;
  }
  
  .col-lg-12 {
    width: 200%;
  }
}